body {
  background-color: red;
}

@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 425px) {
  body {
    background-color: green;
  }
}